$font-list: 'Montserrat', sans-serif;
$font-style: normal;
$text-color: #363636;

.article-container {
  font-family: $font-list;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);

  .image {
    width: 100%;
    height: 217px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 25px;
    padding: 0;

    .date {
      margin-top: 25px;
      opacity: 60%;
      font-style: $font-style;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $text-color;

      img {
        width: 13.33px;
        height: 13.33px;
      }
    }

    .title {
      font-style: $font-style;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: $text-color;
      height: 90px;
      overflow: auto;
    }

    .summary {
      font-style: $font-style;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      height: 80px;
      color: $text-color;
    }

    .read-more {
      font-style: $font-style;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;

      .arrow {
        margin-left: 6px;
      }
    }
  }
}


